<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>937716409478-affe5kstreid34o7qill4oon8pgth626.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937716409478-affe5kstreid34o7qill4oon8pgth626</string>
	<key>API_KEY</key>
	<string>AIzaSyDBVJqvtTny5bnh8fmdpEeN6Pv3KDuWVb8</string>
	<key>GCM_SENDER_ID</key>
	<string>937716409478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katy.room</string>
	<key>PROJECT_ID</key>
	<string>katyroom-9d11f</string>
	<key>STORAGE_BUCKET</key>
	<string>katyroom-9d11f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937716409478:ios:55c814917a78e45a</string>
	<key>DATABASE_URL</key>
	<string>https://katyroom-9d11f.firebaseio.com</string>
</dict>
</plist>